<html>
<head>
    <link rel="stylesheet" href="/bahmni_config/openmrs/apps/customDisplayControl/css/print/custom-printref.css" media="print"/>
</head>
<body>
<br>
<div>
    <center><span class="custom-print-center"><h1><strong> Jan Swasthya Sahyog,Ganiyari,Bilaspur</strong></h1></span> </center><br>
    <center><span class="referral-form custom-print-center"><h1><strong>Referral Letter</strong></h1></span></center>

</div>
<br><br>
<div>
    <div class="print-wrapper print-patient-summary">
        <span class="increased-font"><strong>To, <span ng-if="observations.valueAsString!=undefined"></span></strong></span><br>
        <span class="increased-font">{{observations.valueAsString}}</span><br>
        <span class="increased-font">{{observation.groupMembers[0].valueAsString}}</span><br>
        <span class="increased-font">{{observation.groupMembers[1].valueAsString}}</span><br>
        <span class="increased-font">{{observation.groupMembers[2].valueAsString}}</span><br>
        <span class="increased-font">{{observation.groupMembers[3].valueAsString}}</span><br><br>

        <span class="increased-font"><strong>Dear Doctor ,</strong></span><br><br>
                        <span class="increased-font">Shri/ Smt.<strong> {{patient.name}} ({{patient.identifier}})</strong> age <strong>{{patient.age}} </strong>Years / <strong>{{patient.gender}}</strong> of village
                        <strong>{{patient.address.cityVillage}}</strong>,district <strong>{{patient.address.countyDistrict}}</strong>,has attended Jan Swasthya Sahyog clinic on
                        <strong> {{observation.visitStartDateTime | bahmniDate}}</strong> his/her clinical details are.</span><br>
    </div>
</div>
</body>
</html>
